@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');


*{
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

h1 {
    font-size: clamp(1rem, 10vw, 2rem);
    color: #ffffff;
    position: relative;
    width: max-content;
}

#typing {
    width: 0ch;
    color: white;
    float: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    font-weight:bold;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(30) 1.5s infinite alternate;
}

#typing span {
    color:rgb(86, 207, 255);
}

#crow {
    float: left;
    color: white;
    font-family: consolas;
    font-weight:bold;
    font-size: 45px;
    animation: crow 0.45s linear 0s infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 30ch;
    }
}
@keyframes crow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
