@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');


*{
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

h1 {
    font-size: clamp(1rem, 10vw, 2rem);
    color: #ffffff;
    position: relative;
    width: max-content;
}

.intro {
    display: flex;
    color: #ffffff;

}

.typing {
    position: relative;
    margin-left: 18px;
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 84%;
    border-right: 2px solid white;
    animation: blink 0.4s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
